PORT=3000
MONGODB=mongodb://127.0.0.1:27017/test
NODE_ENV=development

JWT_SECRET_ACCESS=6d13f80a-06e8-4947-acad-1e4db3a87316
JWT_SECRET_REFRESH=c8f4b880-8d1e-4ba3-85f7-4400fa7a8cc3

CLIENT_URL=http://localhost:5173

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=